:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #210e6b;
  --body-color: #918ca4;
}
/* Typography */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif, sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--body-color);
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 0.625rem;
}
h1 {
  font-size: 4.375rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
p {
  margin-top: 0;
}

@media screen and (min-wdith: 1024px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 0.9375rem;
  }
}
