:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #210e6b;
  --body-color: #918ca4;
}
/* Typography */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif, sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--body-color);
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 0.625rem;
}
h1 {
  font-size: 4.375rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.875rem;
}
p {
  margin-top: 0;
}

@media screen and (min-wdith: 1024px) {
  body {
    font-size: 1.125rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 0.9375rem;
  }
}

/* Badges */
.badge {
  padding: 0.3125rem 1.25rem;
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
}
.badge--primary {
  background: var(--primary-color);
  color: #fff;
}

.badge--secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.badge--small {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 0.9375rem;
  }
  .badge--small {
    font-size: 0.75rem;
  }
}

/* Lists */
ul {
  list-style: none;
  padding-left: 0;
  color: var(--headings-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 1.25rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 1.875rem;
}
.list--tick .list__item {
  padding-left: 0.3125rem;
  margin-bottom: 0.625rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--primary-color);
}
.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
