<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        tempore iusto explicabo veritatis adipisci nemo esse eligendi. Iure, ex
        dolorum. Aliquam fugiat deleniti voluptatum suscipit assumenda maiores
        corrupti. Necessitatibus, voluptatem!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
